.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-image {
  background-color: #F5F5F5;
  min-height: 300px; 
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 0;
  text-align: center;
}

.description {
  margin-top: 10px;
  padding: 0px 5%;
  font-size: 20px;
  max-width: 800px;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
}

.actions-container button {
  background-color: #A8A6A6;
  border-radius: 5px;
  border: none;
  padding: 5px 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}